.slick-slider {
  margin-bottom: 40px;
}
.padding-16{
  padding-right: 16px;
  padding-left: 16px;
}
.sub-content{
  font-size: 110%;
    font-weight: bold;
    color: #074dea;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
  @media (max-width: 768px){
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 768px){
  .modal-dialog {
      max-width: 600px;
      width: 600px;
      margin: 30px auto;
  }
  .form-horizontal .control-label {
    padding-top: 6px;
    margin-bottom: 0;
    text-align: right;
    font-weight: 700;
  }
  .col-md-5, .col-md-7{
    padding-right: 15px;
    padding-left: 15px;
  }
  #ModalCart .form-group{
    display: flex;
  }
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 100%;
  }
}


.modal-content {
  color: #222;
  border: 1px solid #aaa;
  border: 1px solid rgba(0,0,0,.333);
  border-radius: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  button{
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .4;
  }
}

.modal-body {
  position: relative;
  padding: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-danger {
  background-color: #d84a38;
}

.ml10 {
  margin-left: 10px !important;
}

.modal-footer {
  padding: 16px 0;
  margin: 0 16px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  display: block;
  p{
    text-align: center;
  }
}

.flex-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  @media (max-width: 576px){
    flex-direction: column;
  }
}

.btn-icon {
  position: relative;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
}

.aki-btn-change{
  min-width: 60px;
  margin-left: 10px;
}

.modal-footer label.user-guide {
  font-size: 1.6rem;
}
