/* Slider */
#contents_top{
  .slick-arrow{
    display: none !important;
  }
  .slick-dots li button:before, .slick-dots li button::after  {
    content: " ";
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 14px;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
    z-index: 1;
    border: 1px solid $primary-color;
  }
  .slick-dots li.slick-active button::after {
    opacity: 1;
    background: $primary-color;
    width: 8px;
    height: 8px;
    top: 3px;
    left: 3px;
    z-index: 1;
  }
}
.aki-container{
  .slick-slide {
    img {
      max-height: 600px;
      height: auto;
      }
    }
  @include maxWidth(767px){

    .slick-slider
    {
        position: relative;
        display: block;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
            touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-arrow{
      display: none !important;
    }
    .slick-list
    {
        position: relative;
    
        display: block;
        overflow: hidden;
    
        margin: 0;
        padding: 0;
    }
    .slick-list:focus
    {
        outline: none;
    }
    .slick-list.dragging
    {
        cursor: pointer;
        cursor: hand;
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    
    .slick-track
    {
        position: relative;
        top: 0;
        left: 0;
    
        display: block;
    }
    .slick-track:before,
    .slick-track:after
    {
        display: table;
    
        content: '';
    }
    .slick-track:after
    {
        clear: both;
    }
    .slick-loading .slick-track
    {
        visibility: hidden;
    }
    
    .slick-slide
    {
        display: none;
        float: left;
    
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide
    {
        float: right;
    }
    .slick-slide img
    {
        display: block;
    }
    .slick-slide.slick-loading img
    {
        display: none;
    }
    .slick-slide.dragging img
    {
        pointer-events: none;
    }
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .slick-loading .slick-slide
    {
        visibility: hidden;
    }
    .slick-vertical .slick-slide
    {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    
    .slick-prev, .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
    }
    
    .slick-prev {
      left: -25px;
    }
    .slick-next {
      right: -25px;
    }
    
    .slick-prev:before, .slick-next:before {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
      opacity: .75;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .slick-prev::before {
      content: "←";
    }
    .slick-next::before {
      content: "→";
    }
    
    .slider-bottom .slick-slide{
      margin: 0 5px;
    }
    
    .slick-slider {
      margin-bottom: 30px;
    }
    
    .slick-dots {
      position: absolute;
      bottom: -45px;
      display: block;
      width: 100%;
      padding: 0;
      list-style: none;
      text-align: center;
    }
    
    .slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    
    .slick-dots li button {
      width: 14px;
      height: 14px;
      border-radius: 14px;
      border: 1px solid  #CACACA;
    
    }
    
    .slick-dots li button:hover,
    .slick-dots li button:focus {
      outline: none;
    }
    
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
      opacity: 1;
    }
    
    .slick-dots li button:before, .slick-dots li button::after  {
      content: " ";
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 14px;
    
    }
    
    .slick-dots li.slick-active button:before {
      opacity: 1;
      z-index: 1;
      border: 1px solid $primary-color;
    }
    .slick-dots li.slick-active button::after {
      opacity: 1;
      background: $primary-color;
      width: 8px;
      height: 8px;
      top: 3px;
      left: 3px;
    }
    
    .slick-dots li button.thumbnail img {
      width: 0;
      height: 0;
    }
  }
}
.product_page .aki-container .slick-slide img{
  max-height: max-content;
}